body 
{
    background-color: beige;

}
h1 
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.logo
{
    padding: 10px;
}
.correa-metal
{
    padding: 10px;
    width: 630px;
    height: auto;
}
