body 
{
    background-color: beige;

}

header 
{
    background-color: #cccccc;
}


a
{
    color: black;
    text-decoration: none;
}
/* .vinculos 
{
    color: red;
} */

/* tiene q existir un a dentro de un nav para que la propiedad aplique */
/* -------------------------- */
.encabezado-principal
{
    background-color: rgb(56, 32, 0);
} 
 nav a 
{
    color: white;
}
/* -------------------------- */
.contenido 
{
    background-color: rgb(141, 111, 73);
}
/* -------------------------- */
.pie-principal
{
    background-color: rgb(80, 77, 74);
}
#contactos
{
    color: aquamarine;
}